@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Public Sans", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  /* ### Neutral */

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  color: var(--Dark-Blue);
}

p {
  line-height: 1.7;
  font-weight: 300;
  color: var(--Grayish-Blue);
}

body {
  font-size: 1.8rem;
  background: var(--Very-Light-Gray);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;
  position: relative;
  flex-wrap: nowrap;
  height: 10vh;
  z-index: 1;
  background-color: var(--Very-Light-Gray);
  border: 1px solid red;
}

li {
  display: inline-block;
}

nav {
  background-color: lightcyan;
}

ul {
  display: flex;
}

nav a {
  display: inline-block;
  padding: 2rem;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan));
}

nav a::after {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

nav a:hover::after {
  transform: scale(1, 1);
}

.invite-btn {
  padding: 2rem 5rem;
  border-radius: 4rem;
  background: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan));
  color: var(--White);
  font-size: inherit;
  font-weight: 700;
}

header .invite-btn {
  display: none;
}

nav {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 10vh;
  padding-top: 2rem;
  height: 100vh;
  background: linear-gradient(hsla(233, 26%, 24%, 0.9), hsla(0, 0%, 100%, 0.8));
  display: none;
}

.show {
  display: block;
}

ul {
  border-radius: 1rem;
  padding-block: 3rem;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.burger-icon {
  cursor: pointer;
}

/* Main  */

/* Intro-section  */
.intro-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

.intro-img-container {
  background: url("/images/bg-intro-mobile.svg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.intro-img-container img {
  margin-top: -120px;
}

.intro-section .invite-btn {
  margin-top: 3rem;
}

.intro-content {
  padding: 2rem;
}

/* Why section  */
h2 {
  font-weight: 400;
  font-size: 3rem;
}

h3 {
  font-weight: 400;
}

.why-section {
  background: var(--Light-Grayish-Blue);
  text-align: center;
  padding: 7rem 2rem;
  border: 1px solid red;
}

/* Desktop  */

@media screen and (min-width: 1300px) {
  header {
    padding-inline: 4rem;
    padding-block: 0;
  }

  nav {
    position: static;
    width: unset;
    height: unset;
    padding: 0;
    background: unset;
    display: unset;
  }

  header .invite-btn {
    display: block;
  }

  .burger-icon {
    display: none;
  }

  ul {
    flex-direction: row;
    padding-block: 0;
    border-radius: unset;
    background-color: unset;
    gap: 3rem;
  }

  /* Main  */

  /* Intro section  */
  .intro-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    overflow: hidden;
    padding: 15rem 0 15rem 10rem;
    background: url(/images/bg-intro-desktop.svg) no-repeat;
    background-position: top -250px right -260%;
  }

  .intro-content {
    order: -1;
  }

  .intro-img-container {
    background: url(/images/bg-intro-desktop.svg) no-repeat;
    background-position: top -150px left 20%;
    background-size: cover;
    flex: 1 0 50%;
  }

  .intro-img-container img {
    position: absolute;
    right: -125px;
    top: 70px;
  }

  .intro-content {
    text-align: left;
  }

  h1 {
    font-size: 4.5rem;
  }

  /* Why section   */

  .why-section {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 10rem;
  }

  .why-section h3 {
    margin-block: 2rem;
  }

  .why-heading-container {
    grid-area: 1 / 1 / 1 / -1;
    max-width: 45vw;
  }
}
