@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Public Sans", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  /* ### Neutral */

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  color: var(--Dark-Blue);
}

p {
  line-height: 1.7;
  font-weight: 300;
  color: var(--Grayish-Blue);
}

body {
  font-size: 1.8rem;
  background: var(--Very-Light-Gray);
  overflow-x: hidden;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;
  flex-wrap: nowrap;
  height: 10vh;
  z-index: 1;
  background-color: var(--White);
  position: sticky;
  top: 0;
}

li {
  display: inline-block;
}

nav {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 10vh;
  background: linear-gradient(hsla(233, 26%, 24%, 0.9), hsla(0, 0%, 100%, 0.8));
  height: 0;
  transition: all 0.2s ease-in;
  background-color: lightcyan;
}

nav a {
  display: inline-block;
  padding: 2rem;
  position: relative;
  font-family: inherit;
  color: var(--Grayish-Blue);
}

nav a:hover {
  color: var(--Dark-Blue);
}

nav a::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan));
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

nav a:hover::after {
  transform: scale(1, 1);
}

.invite-btn {
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  background: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan));
  color: var(--White);
  font-size: inherit;
  font-weight: 700;
}

.invite-btn:hover {
  opacity: 0.7;
}

header .invite-btn {
  display: none;
}

.open {
  height: 100vh;
  top: 10vh;
  padding-top: 2rem;
}

.open ul {
  opacity: 1;
}

nav ul {
  display: flex;
  border-radius: 1rem;
  padding-block: 3rem;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.burger-icon {
  cursor: pointer;
}

.burger-icon > span {
  display: block;
  width: 30px;
  height: 3px;
  background: #2d314d;
  transition: all 0.3s ease;
  margin-bottom: 4px;
  transform-origin: 0.1875rem 0.0625rem;
}

/* Style the three lines to make it an X  */
.burger-icon.close .bar-top {
  transform: rotate(45deg) translate(6px, -10px);
  transform-origin: top left;

}

.burger-icon.close .bar-middle {
  opacity: 0;
}

.burger-icon.close .bar-bottom {
  transform: rotate(-45deg) translate(5px, 10px);
  transform-origin: bottom left;

}

/* Main  */

/* Intro-section  */
.intro-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

.intro-img-container {
  background: url("./images/bg-intro-mobile.svg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-img-container img {
  margin-top: -120px;
}

.intro-section .invite-btn {
  margin-top: 3rem;
}

.intro-content {
  padding: 2rem;
}

/* Why section  */
h2 {
  font-weight: 400;
  font-size: 3rem;
}

h3 {
  font-weight: 400;
  margin-block: 2rem;
}

.why-section {
  background: var(--Light-Grayish-Blue);
  text-align: center;
  padding: 7rem 2rem;
  display: grid;
  gap: 4rem;
  margin-bottom: 5rem;
}

.article-section {
  padding: 7rem 2rem;
}

.article-section .card {
  background: var(--White);
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 0.5rem;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

.article-section .card-content {
  padding-inline: 2rem;
  background: var(--White);
}

.article-section img {
  object-fit: cover;
  width: 100%;
  height: 40%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.article-section h4 {
  font-weight: 500;
  font-size: 2.5rem;
}

.article-section h4:hover {
  cursor: pointer;
  color: var(--Lime-Green);
}

/* Footer  */

footer {
  background: var(--Dark-Blue);
  color: var(--Very-Light-Gray);
  padding: 5rem;
}

footer .logo {
  filter: invert(1);
}

.footer-logo {
  margin-bottom: 1.875rem;
}

.footer-socials {
  margin-bottom: 3rem;
}

.footer-socials a {
  margin-right: 1rem;
}

.footer-middle-left,
.footer-middle-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

footer a:hover {
  color: var(--Lime-Green);
}

footer svg:hover path {
  fill: var(--Lime-Green);
}

.footer-cta {
  margin-bottom: 2rem;
}

.to-top-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 20px;
  cursor: pointer;
  box-shadow: 0 3px 5px 0 rgba(100, 100, 111, 0.2);
  transition: all 0.2s ease;
}

.to-top-btn:hover {
  background-color: var(--Lime-Green);
}

/* Desktop  */

@media screen and (min-width: 1200px) {
  header {
    padding-inline: 10%;
    padding-block: 0;
  }

  nav {
    position: static;
    width: unset;
    height: unset;
    padding: 0;
    background: unset;
    display: unset;
  }

  header .invite-btn {
    display: block;
  }

  .burger-icon {
    display: none;
  }

  nav ul {
    flex-direction: row;
    padding-block: 0;
    border-radius: unset;
    background-color: unset;
    gap: 3rem;
    opacity: 1;
  }

  /* Main  */

  /* Intro section  */
  h2 {
    font-size: 3.5rem;
  }

  .intro-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    overflow: hidden;
    padding: 15rem 0 15rem 10rem;
    background: url(/images/bg-intro-desktop.svg) no-repeat;
    background-position: top -250px right -260%;
  }

  .intro-img-container {
    background: url(/images/bg-intro-desktop.svg) no-repeat;
    background-position: top -150px left 20%;
    background-size: cover;
    flex: 1 0 50%;
  }

  .intro-img-container img {
    position: absolute;
    right: -125px;
    top: 70px;
  }

  .intro-content {
    text-align: left;
    order: -1;
  }

  h1 {
    font-size: 4.5rem;
  }

  /* Why section   */

  .why-section,
  .article-section {
    text-align: left;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding-inline: 10%;
    display: grid;
  }

  .why-section h3 {
    margin-block: 2rem;
  }

  .why-heading-container,
  .article-section-heading {
    grid-area: 1 / 1 / 1 / -1;
    max-width: 45vw;
  }

  h3 {
    font-size: 2.5rem;
  }

  /* Footer  */
  footer {
    padding-inline: 10%;
    display: grid;
    grid-template-areas:
      "logo col1 col2 cta"
      "social  col1 col2 copyright";
    justify-items: start;
    gap: 1rem;
  }

  .footer-logo {
    grid-area: logo;
  }

  .footer-socials {
    grid-area: social;
    align-self: end;
  }

  .footer-middle-left {
    grid-area: col1;
    align-items: flex-start;
  }

  .footer-middle-right {
    grid-area: col2;
    align-items: flex-start;
  }

  .footer-cta {
    grid-area: cta;
    justify-self: end;
    margin-bottom: 0;
  }

  .footer-copyright {
    grid-area: copyright;
    justify-self: end;
  }

  .footer-copyright p {
    text-align: right;
  }
}
